/* цвет основного текста - #757575 */
/* Вторичный цвет текста - #212121 */
/* основной цвет фона - #FFFFFF */
/* вторичный цвет фона - #F5F4FA */
/* цвет фона footer - #2F303A */
/* акцент - #2196F3 */

:root {
  --logo-color: #000000;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --accent-color: #2196f3;
  --btn-primary-hover: #188ce8;
  --portfolio-border: #eeeeee;
  --header-border: #ececec;
  --bg-image-color: #c4c4c4;
}

body {
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* pre */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/* common */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-color);
  text-decoration: none;
  margin-right: 93px;
}

.logo-accent {
  color: var(--accent-color);
}

/* header */

.header {
  border-bottom: 1px solid var(--header-border);
}

.header-nav {
  align-items: center;
  display: flex;
}

.header-nav .header-link {
  display: inline-block;
}

.mail {
  margin-right: 50px;
}

.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Site-nav */

.site-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.site-nav-list {
  display: flex;
}

.site-nav .link {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav li:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-link {
  position: relative;
}

.header-link:hover::after,
.header-link:focus::after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.site-nav-contacts {
  display: flex;
  align-items: center;
}

.envelope-icon,
.smartphone-icon {
  margin-right: 10px;
  fill: currentColor;
}

.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
  fill: var(--accent-color);
}

.mail,
.tel {
  display: flex;
  align-items: center;

  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-header,
.tel-header {
  padding-top: 32px;
  padding-bottom: 32px;
}
/* hero */

.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-image.jpg);
  background-size: cover;
  background-color: var(--bg-image-color);
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-section {
  max-width: 700px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

.hero .button {
  margin-top: 30px;
}

/* features */

.feature-title,
.work-title,
.team-title,
.filter-title,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);
}

.feature-section-add {
  padding-top: 94px;
  padding-bottom: 47px;
}

.feature-list-title {
  font-weight: 700;
  line-height: 1.1;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.feature-list {
  display: flex;
  margin-right: -30px;
  margin-bottom: -30px;
}

.feature-list-item {
  flex-basis: calc((100% - 120px) / 4);

  margin-right: 30px;
  margin-bottom: 30px;
}

.feature-list-text {
  margin-top: 10px;
}

.feature-item-block {
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

/* work */

.work-list {
  display: flex;
  margin-right: -30px;
  margin-bottom: -30px;
}

.work-list-item {
  flex-basis: calc((100% - 90px) / 3);

  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 50px;
}

.work-section-add {
  padding-top: 47px;
  padding-bottom: 94px;
}

.work-list-item-card {
  position: relative;
}

.work-text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-text p {
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

/* team */

.team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
  margin-right: -30px;
  margin-bottom: -30px;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  flex-basis: calc((100% - 120px) / 4);

  text-align: center;
  margin-right: 30px;
  margin-bottom: 30px;
}

.team-content {
  padding: 30px;
}

.team-title {
  margin-bottom: 50px;
}

.item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--secondary-text-color);

  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
}

.social-links-group {
  display: flex;
  justify-content: space-between;
}

.social-link-item {
  border-radius: 50%;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-item:hover,
.social-link-item:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

/* clients */

.clients-title {
  margin-bottom: 50px;
}

.clients .clients-list-list {
  display: flex;
  justify-content: space-between;
}

.clients-list-item {
  display: flex;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover,
.clients-list-link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

/* button */

.button {
  border-radius: 4px;
  display: inline-block;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--main-bg-color);
  text-decoration: none;
}

.button.primary {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--main-bg-color);
  background-color: var(--accent-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover,
.button.primary:focus {
  color: var(--main-bg-color);
  background-color: var(--btn-primary-hover);
}

.button.secondary {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border: 1px solid transparent;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.secondary:hover,
.button.secondary:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--main-bg-color);
  background-color: var(--accent-color);
}

/* footer */

.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}


.address {
  font-style: normal;
  color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
}

.address p {
  margin-bottom: 9px;
}

.address .mail {
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .tel {
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .tel:hover,
.address .mail:hover,
.address .tel:focus,
.address .mail:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--main-bg-color);
  margin-bottom: 20px;
}

.social-links-footer {
  display: flex;
  flex-direction: column;
}

.social-links-footer-title,
.footer-contacts-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-bg-color);
  margin-bottom: 20px;
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.social-links-footer {
  margin-right: 93px;
}

.social-link-group-item:not(:last-child) {
  margin-right: 10px;
}

.social-link-item-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-contacts-button {
  position: relative;
  display: inline-block;
}

.footer-button {
  padding-left: 29px;
  padding-right: 62px; 
}

.footer-button-icon {
  position: absolute;
  bottom: 50%;
  right: 28px;
  transform: translateY(50%);
}

.footer-contacts-form-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.footer-contacts-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* portfolio page */

/* filter */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

/* portfolio */
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;

  color: var(--secondary-text-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-item {
  background-color: var(--main-bg-color);
  flex-basis: calc((100% - 90px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-content {
  padding: 20px 24px;

  border: 1px solid var(--portfolio-border);
  border-top: none;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.9;
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}

.portfolio-image-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  color: var(--main-bg-color);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-image-text,
.portfolio-link:focus .portfolio-image-text {
  transform: translateY(0);
}

.portfolio-link {
  color: var(--primary-text-color);
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 528px;
  max-height: 581px;
  padding: 40px;
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  background: var(--main-bg-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  border-color: var(--accent-color);
}

.close-button:hover > .close-btn,
.close-button:focus > .close-btn {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* modal-form */

.modal-form {
  display: flex;
  flex-direction: column;

  
}

.modal-form-head-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.modal-form-field {
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.modal-form-input-wraper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 448px;
  height: 40px;
  padding-left: 42px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
 fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: var(--accent-color);

  outline: none;
}

.modal-form-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-comment {
  width: 100%;
  height: 120px;

  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:focus {
  border-color: var(--accent-color);

  outline: none;
}

.modal-form-comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-form-policy {
  display: flex;
  align-items: center;

  margin-bottom: 30px;s
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.modal-form-checkbox {
  position: relative;
}

.modal-form-policy::before {
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  background-color: transparent;
  border: 2px solid var(--secondary-text-color);
  cursor: pointer;
  margin-right: 7px;
}

.modal-form-checkbox-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.modal-form-checkbox-icon:checked + .modal-form-policy::before {
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--accent-color);
}

.modal-form-button {
  align-self: center;

  padding: 10px 55px;
}

.modal-form-policy-link {
  color: var(--accent-color);
}