.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--main-bg-color);
  margin-bottom: 20px;
}
